<script src='{{ "/assets/js/jquery.min.js" | relative_url }}' ></script>
<script src='{{ "/assets/js/jquery.shuffle.min.js" | relative_url }}' ></script>
<script src='{{ "/assets/js/jquery.magnific-popup.min.js" | relative_url }}' ></script>
<script src='{{ "/assets/js/fitvids.js" | relative_url }}' ></script>
<script src='{{ "/assets/js/owl.carousel.min.js" | relative_url }}' ></script>
<script src='{{ "/assets/js/validator.min.js" | relative_url }}' ></script>
<script src='{{ "/assets/js/script.js" | relative_url }}' ></script>