<nav class='nav' >
  <div class='v-align' >
    <div class='inner' >
      <ul class='menu-items' >
        <li>
          <a class='active' href='#home' >
            <i class='icon-basic-home' ></i>
            Home
          </a>
        </li>
        <li>
          <a href='#about' >
            <i class='icon-basic-info' ></i>
            <span>About</span>
          </a>
        </li>
        <li>
          <a href='#portfolio' >
            <i class='icon-basic-case' ></i>
            <span>Portfolio</span>
          </a>
        </li>
        <li>
          <a href='#resume' >
            <i class='icon-ecommerce-receipt' ></i>
            <span>Resume</span>
          </a>
        </li>
        <li>
          <a href='#blog' >
            <i class='icon-basic-book-pen' ></i>
            <span>Blog</span>
          </a>
        </li>
        <li>
          <a href='#contact' >
            <i class='icon-basic-mail' ></i>
            <span>Contact</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>