<section id='blog' class='section blog-section' data-bg='#F0F0F0' data-color='dark' >
	<div class='container-fluid' >
		
		<div class='section-header text-center' >
			<h2>My Blog</h2>
			<div class='divider' >
				<img src='{{ "/assets/img/wave.png" | relative_url }}' alt>
			</div>
		</div>
		
		<div class='blog-posts' >
			
			<div class='blog-post' >
				<div class='inner' >
					<figure>
						<img src='{{ "/assets/img/blog-1.jpg" | relative_url }}' alt>
					</figure>
					<div class='content' >
						<h4>Get Powerful Blog</h4>
						<ul class='post-icons' >
							<li>
								<i class='ion-ios-person-outline' ></i>
								<span>Admin</span>
							</li>
							<li>
								<i class='ion-ios-pricetag-outline' ></i>
								<span>Lifestyle, Work</span>
							</li>
							<li>
								<i class='ion-ios-clock-outline' ></i>
								<span>14th June</span>
							</li>
						</ul>
						<p>
							Lorem ipsum dolor sit amet, id electram reprimique his, dicta saepe oporteat eos an, esse erat doming at lam. Ei constituam theophrastus per, sea dolorum disput ationi in.
						</p>
						<a href='#' class='read-more' >
							Read More <i class='ion-ios-arrow-thin-right' ></i>
						</a>
					</div>
				</div>
			</div>
			
			<div class='blog-post' >
				<div class='inner' >
					<figure>
						<img src='{{ "/assets/img/blog-2.jpg" | relative_url }}' alt>
					</figure>
					<div class='content' >
						<h4>An Image Post</h4>
						<ul class='post-icons' >
							<li>
								<i class='ion-ios-person-outline' ></i>
								<span>Admin</span>
							</li>
							<li>
								<i class='ion-ios-pricetag-outline' ></i>
								<span>Lifestyle, Work</span>
							</li>
							<li>
								<i class='ion-ios-clock-outline' ></i>
								<span>14th June</span>
							</li>
						</ul>
						<p>
							Lorem ipsum dolor sit amet, id electram reprimique his, dicta saepe oporteat eos an, esse erat doming at lam.
						</p>
						<a href='#' class='read-more' >
							Read More <i class='ion-ios-arrow-thin-right' ></i>
						</a>
					</div>
				</div>
			</div>
			
			<div class='blog-post' >
				<div class='inner' >
					<figure>
						<iframe src='https://player.vimeo.com/video/23107791?byline=0&amp;portrait=0' width='640' height='360' allowfullscreen></iframe>
					</figure>
					<div class='content' >
						<h4>Vimeo Video Post</h4>
						<ul class='post-icons' >
							<li>
								<i class='ion-ios-person-outline' ></i>
								<span>Admin</span>
							</li>
							<li>
								<i class='ion-ios-pricetag-outline' ></i>
								<span>Lifestyle, Work</span>
							</li>
							<li>
								<i class='ion-ios-clock-outline' ></i>
								<span>14th June</span>
							</li>
						</ul>
						<p>
							Lorem ipsum dolor sit amet, id electram reprimique his, dicta saepe oporteat eos an, esse erat doming at lam.
						</p>
						<a href='#' class='read-more' >
							Read More <i class='ion-ios-arrow-thin-right' ></i>
						</a>
					</div>
				</div>
			</div>
			
			<div class='blog-post' >
				<div class='inner' >
					<figure>
						<iframe width='560' height='315' src='https://www.youtube.com/embed/0pXYp72dwl0' allowfullscreen></iframe>
					</figure>
					<div class='content' >
						<h4>YouTube video Post</h4>
						<ul class='post-icons' >
							<li>
								<i class='ion-ios-person-outline' ></i>
								<span>Admin</span>
							</li>
							<li>
								<i class='ion-ios-pricetag-outline' ></i>
								<span>Lifestyle, Work</span>
							</li>
							<li>
								<i class='ion-ios-clock-outline' ></i>
								<span>14th June</span>
							</li>
						</ul>
						<p>
							Lorem ipsum dolor sit amet, id electram reprimique his, dicta saepe oporteat eos an, esse erat doming at lam.
						</p>
						<a href='#' class='read-more' >
							Read More <i class='ion-ios-arrow-thin-right' ></i>
						</a>
					</div>
				</div>
			</div>
			
			<div class='blog-post' >
				<div class='inner' >
					<figure>
						<img src='{{ "/assets/img/blog-3.jpg" | relative_url }}' alt>
					</figure>
					<div class='content' >
						<h4>Just an image post</h4>
						<ul class='post-icons' >
							<li>
								<i class='ion-ios-person-outline' ></i>
								<span>Admin</span>
							</li>
							<li>
								<i class='ion-ios-pricetag-outline' ></i>
								<span>Lifestyle, Work</span>
							</li>
							<li>
								<i class='ion-ios-clock-outline' ></i>
								<span>14th June</span>
							</li>
						</ul>
						<p>
							Lorem ipsum dolor sit amet, id electram reprimique his, dicta saepe oporteat eos an, esse erat doming at lam.
						</p>
						<a href='#' class='read-more' >
							Read More <i class='ion-ios-arrow-thin-right' ></i>
						</a>
					</div>
				</div>
			</div>
			
			<div class='blog-post' >
				<div class='inner' >
					<figure>
						<img src='{{ "/assets/img/blog-4.jpg" | relative_url }}' alt>
					</figure>
					<div class='content' >
						<h4>A Cool Title here</h4>
						<ul class='post-icons' >
							<li>
								<i class='ion-ios-person-outline' ></i>
								<span>Admin</span>
							</li>
							<li>
								<i class='ion-ios-pricetag-outline' ></i>
								<span>Lifestyle, Work</span>
							</li>
							<li>
								<i class='ion-ios-clock-outline' ></i>
								<span>14th June</span>
							</li>
						</ul>
						<p>
							Lorem ipsum dolor sit amet, id electram reprimique his, dicta saepe oporteat eos an, esse erat doming at lam.
						</p>
						<a href='#' class='read-more' >
							Read More <i class='ion-ios-arrow-thin-right' ></i>
						</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>