<section id='home' class='section main-section active' data-bg='#3F51B5' >
	<div class='container-fluid' >
		<div class='v-align' >
			<div class='inner' >
				<div class='row' >
					<div class='col-md-offset-1 col-sm-offset-1 text-left' >
						
						<div class='intro-text' >
							
							<span class='pre-heading' >Hi, I am</span>
							
							<!-- Your Name -->
							<h2 class='name' >
								Hana Dwi Khairunnisa
							</h2>
							
							<!-- Social Icons -->
							<ul class='main-social' >
								<li>
									<a href='#' >
										<i class='ion-social-facebook-outline' ></i>
									</a>
								</li>
								<li>
									<a href='#' >
										<i class='ion-social-twitter-outline' ></i>
									</a>
								</li>
								<li>
									<a href='#' >
										<i class='ion-social-dribbble-outline' ></i>
									</a>
								</li>
								<li>
									<a href='#' >
										<i class='ion-social-googleplus-outline' ></i>
									</a>
								</li>
								<li>
									<a href='#' >
										<i class='ion-social-pinterest-outline' ></i>
									</a>
								</li>
								<li>
									<a href='#' >
										<i class='ion-social-tumblr-outline' ></i>
									</a>
								</li>
							</ul>
							
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>